apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.NemoGuardrails.Name}}
  namespace: {{.NemoGuardrails.Namespace}}
  labels:
    app: {{.NemoGuardrails.Name}}
    component: {{.NemoGuardrails.Name}}
    deploy-name: {{.NemoGuardrails.Name}}
    app.kubernetes.io/instance: {{.NemoGuardrails.Name}}
    app.kubernetes.io/name: {{.NemoGuardrails.Name}}
    app.kubernetes.io/part-of: trustyai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nemo-guardrails
  template:
    metadata:
      labels:
        app: nemo-guardrails
    spec:
      containers:
      - name: nemo-guardrails
        image: {{.ContainerImages.NemoGuardrailsImage}}
        env:
        - name: CONFIG_ID
          value: rails-custom-action
        ports:
        - containerPort: 8000
        volumeMounts:
        - name: config-volume
          mountPath: /app/config/rails-custom-action
      volumes:
      - name: config-volume
        configMap:
          name: {{.NemoGuardrails.NemoConfig}}